#header-main{
    box-shadow: 2px 2px 3px rgba(0,0,0,.1);
    -moz-box-shadow: 2px 2px 3px rgba(0,0,0,.1);
    -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,.1);
    height: 95px;
}
#main{
    margin-bottom: 20px;
}
.over-text{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
ul.prod-list-view{
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    margin-right: -10px;
}
ul.prod-list-view li{
    float: left;
}
ul.prod-list-view li.prod-item{
    border: 1px solid transparent;
    margin-bottom: 10px;
    height: 295px;
}
ul.prod-list-view li.prod-item:hover{
    /*border: 1px solid #d0e5f5;
    box-shadow: 1px 2px 3px #ccc;*/
    border: 1px solid rgba(0,0,0,.15);
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
ul.prod-list-view li.prod-item:hover .prod-container{
    border-bottom: 1px solid transparent;
}
ul.prod-list-view li.prod-item .prod-title h3{
    margin: 10px 0;
    font-size: 15px;
}
ul.prod-list-view li.prod-item .prod-title a,
ul.prod-list-view li.prod-item .prod-title a:focus,
ul.prod-list-view li.prod-item .prod-title a:hover{
    color: #333;
}
ul.prod-list-view li.prod-item a:hover{
    text-decoration: underline;
    color: #fe7000!important;
}
ul.prod-list-view li.prod-item .prod-container{
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    padding-top: 10px;
    position: relative;
    padding-bottom: 10px;
}
.sale_gbr{
    display: block;
    background: transparent url(../images/sale_gbr.png) no-repeat;
    width: 48px;
    height: 48px;
}
ul.prod-list-view li.prod-item .prod-container .sale_gbr{
    position: absolute;
    top: 5px;
    right: 5px;
}
.checkout{
    background: #B94042;
    color: #fff!important;
    padding: 5px;
    font-size: 11px;
    border-radius: 3px;
    margin: 5px;
    display: block;
    width: 75px;
    float: right;
    text-align: center;
}
.prod-price{
    background: #47B940;
    padding: 3px 5px;
}
.prod-price span,
.prod-price label{
    color: #fff;
    font-size: 12px;
    padding: 0;
}
ul.prod-list-view li.prod-item .prod-container .prod-price{
    position: absolute;
    left: 0;
    bottom: 0;
}
ul.prod-list-view .prod-image{
    position: relative;
    height: 190px;
    overflow: hidden;
}
.top-bar-social a{
    margin-right: 10px;
    color: #fff;
}
.top-bar-social a:hover{
    color: #47B940;
}
.top-bar-social{
    float: left;
}
.top-bar-account{
    float: right;
}
.top-bar-account a{
    color: #fff;
}
.top-bar-account a:hover{
    text-decoration: underline;
    color: #fff;
}
.prod-control{
    overflow: hidden;
}
.prod-act{
    display: none;
}
.prod-act a{
    color: #333;
    margin-left: 10px;
}
.prod-act span{
    font-size: 12px;
}
ul.prod-list-view li.prod-item:hover .prod-act{
    display: block;
}
.bggreen:after{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .15;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAMAAABHPGVmAAAABGdBT�CksA0etm6TbcaQX2RzojFLZpiFebI8qMVyxaddkrvkzv4Pt7iFz9PXmP4AAAAASUVORK5CYII=);
    background-image: none\9;
}
.bggreen{
    background-color: #1fa67a;
}
#logo h1{
    color: #ffffff;
    letter-spacing: -2px;
    line-height: 1;
    margin: 10px 0 15px;
    font-size: 65px;
}
#logo h1{
    text-shadow: 4px 3px 0px #1d9d74, 9px 8px 0px rgba(0, 0, 0, 0.15);
}
#logo h1 span{
    font-size: 12px;
    letter-spacing: 0;
    text-transform: uppercase;
    font-weight: 400;
    vertical-align: middle;
    text-shadow: none!important;
 }
.col-md-2{
    padding-right: 5px;
    padding-left: 5px;
}
.col-pre-main{
    float: left;
}
.col-pre-main .wr-col-c{
    margin-left: 194px;
    border-left: 1px solid #ededed;
}
.col-left{
    float: left;
    width: 194px;
    margin-left: -100%;
}
#nav-search .nav-searchbar .nav-fill, #nav-search .nav-searchbar .nav-left, #nav-search .nav-searchbar .nav-right{
    position: relative;
    height: 35px;
}
.nav-left {
    position: relative;
    float: left;
    width: auto;
    display: inline-block;
}
.nav-right {
    position: relative;
    float: right;
    width: auto;
    display: inline-block;
}
.nav-fill {
    width: auto;
    overflow: hidden;
    white-space: nowrap;
}
#nav-search {
    position: relative;
    display: block;
    white-space: nowrap;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    border-radius: 0\9;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 500px;
    margin: 0 auto;
    margin-top: 18px;
}
#nav-search .nav-fill {
    height: 35px;
    zoom: 1;
}
#nav-search .nav-search-field {
    position: relative;
    height: 35px;
    background: #fff;
}
#nav-search .nav-search-submit {
    position: relative;
    top: 0;
    right: 0;
    height: 35px;
    width: 42px;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid;
    border-color: #485059 #2c3137 #363c43 #485059;
    background-color: #5b626a;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    border-radius: 0\9;
    background-position: 0 -381px;
}
#navbar.nav-bluebeacon #nav-search .nav-search-submit {
    background-color: #febd69;
    background-image: none;
    border: none;
    width: 45px;
}
#nav-search .nav-search-field .nav-input {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    line-height: 15px;
    padding: 6px 10px 6px 0;
    margin: 0;
    border: 0;
    height: 33px;
    font-family: arial,sans-serif;
    font-size: 15px;
    background: 0 0;
    color: #111;
    outline: 0;
    -webkit-appearance: none;
    box-shadow: none;
    text-indent: 8px;
}
#nav-search .nav-search-submit .nav-input {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    font-size: 14px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: 0;
    color: #fff;
    background: 0 0;
    border: none;
    text-indent: -1000px;
    line-height: 1px;
}
#nav-search .nav-search-submit {
    background-color: #febd69;
    background-image: none;
    border: none;
    width: 45px;
}
#nav-search-submit-text{
    position: absolute;
    left: 13px;
    top: 8px;
}
#nav-search-submit-text i{
    font-size: 18px;
}
.wrr-header-main{
    position: relative;
}
#feature{
    background: #D2F2F1;
}
#feature .wrr-feature{
    padding: 20px 0;
}
#feature .row .wrr-col{
    padding: 10px;
    height: 100px;
    text-align: center;
}
#feature .row .wrr-col a.thumb i{
    font-size: 30px;
    color: #333;
}
#partner ul.logo-list{
    margin: 0;
}
#partner ul.logo-list li{
    display: inline-block;
    padding: 20px 10px;
}
#partner ul.logo-list li img{
    height: 55px;
}
#header-main{
    background: #1fa67a;
}
#header-main.fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    height: 60px;
}
#header-main.fixed #nav-search{
    margin-top: 10px;
}
#header-main.fixed #logo{

}
.uptop{
    display: block;
    width: 40px;
    height: 32px;
}